@model ButceTakipWebUI.Dtos.AddUserDtos.CreateAddUserDto

@{
    ViewData["Title"] = "CreateAddUser";
    Layout = "~/Views/AdminLayoutController1/Index.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bütçe Tipi Ekle</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</head>

<body>
    <section class="menu">
        <h1>YENİ KİŞİ EKLEME</h1>
        <div class="box-container">
            <div class="box">
                <form method="post" asp-controller="AddUserController1" asp-action="CreateAddUser">
                    <h3>Yeni Kişiyi Giriniz</h3>
                    <div class="inputBox">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Mail" asp-for="Mail" class="form-control" required>
                    </div>
                    <div class="inputBox">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="İsim" asp-for="UserName" class="form-control" required>
                    </div>
                    <div class="inputBox">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Departman" asp-for="RoleID" class="form-control" required>
                    </div>
              
                    <button type="submit" class="btn">Ekle</button>
                </form>
            </div>
        </div>
    </section>

</body>
</html>
