@model ButceTakipWebUI.Dtos.BudgetDtos.UpdateBudgetDto

@{
    ViewData["Title"] = "Güncelleme";
    Layout = "~/Views/AdminLayoutController1/Index.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

</head>
<body>

 <section class="menu" id="menu">
    <h1>BÜTÇE TİPİ GÜNCELLEME</h1>
    <div class="box-container">
        <div class="box">
                  
                    <form asp-action="UpdateBudget" method="post">
                        <input type="hidden" asp-for="BudgetTypeID" />
                        <div class="inputBox">
                            <i class="fa fa-pencil"></i>
                            <input type="text" class="form-control" asp-for="BudgetType" id="BudgetType" placeholder="Bütçe Tipi Giriniz" />
                        </div>
                    <button type="submit" class="btn">Güncelle</button>
                    </form>
                </div>
            </div>
      
</section>
</body>
</html>